.header {
  position: relative;
  z-index: 11;
  // статичная шапка
  &__static {
    position: relative;
    z-index: 10;
    &-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr 11fr;
    }
    &-top {
      display: grid;
      gap: 32px;
      grid-template-columns: 8fr auto;
      align-items: center;
      position: relative;
      z-index: 5;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background-color: var(--Line);
      }
    }
  }
  // прилипающая шапка
  &__sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s;
    background-color: var(--White);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    // прячем
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    // смещаем для красивого появления
    transform: translateY(-100px);
    &-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: 44px 1fr 180px;
      align-items: center;
    }
    .header__logo {
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .header__contacts-label {
      height: 54px;
    }
  }
  &__mobile-navigation {
    width: 100%;
    // height: 100vh;
    background-color: var(--White);
    position: fixed;
    top: 0;
    left: 0;
    &-inner {
      padding-top: 87px;
      padding-bottom: 87px;
      height: 100vh; // ограничение по высоте, чтобы активировать скролл
      overflow-y: auto; // для безопасности, на случай если SimpleBar не загрузится
      overflow-x: hidden;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    &-list {
      display: grid;
      gap: 0;
      grid-template-columns: 1fr;
      padding-top: calc(72px - 28px);
      padding-bottom: calc(73px - 25px);
    }
    &-item {
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--Line);
        top: 0;
        left: 0;
        right: 0;
      }
      &:first-of-type {
        &:after {
          display: none;
        }
      }
    }

    &-link {
      text-decoration: none;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--dark);
      padding-top: 28px;
      padding-bottom: 25px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 17L9 9L0.999999 1' stroke='%23E61E26' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
        margin-left: 7px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 0.3s;
        flex-shrink: 0;
      }
    }

    // стили для пунктов, которые содержат подпункты
    &-item:has(ul) &-link:after {
      transform: rotate(90deg);
    }
    // стили для подпунктов
    &-sublist {
      padding-top: 11px;
      padding-bottom: 24px;
      padding-inline: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px 32px;
      &-item {
        position: relative;
        padding-left: calc(12px + 16px);
        display: flex;
        align-items: center;
        &::before {
          content: "";
          display: block;
          width: 12px;
          height: 2px;
          background-color: var(--Red);
          position: absolute;
          left: 0;
        }
      }
      &-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--Dark);
        text-decoration: none;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
  // контакты
  &__contacts {
    position: relative;
    max-width: 180px;
    color: var(--Dark);
    background-color: transparent;
    z-index: 2;
    transition:
      color 0.3s,
      background-color 0.3s;
    &-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 175%;
      display: grid;
      gap: 7px;
      grid-template-columns: 14px auto;
      align-items: center;
      padding: 12px 16px;
      border: none;
      background-color: transparent;
      color: var(--Dark);

      svg {
        display: block;
        width: 14px;
        height: 14px;
      }
      &:active,
      &:focus,
      &:focus {
        color: var(--White);
      }
    }
    &-list {
      position: absolute;
      right: 0;
      top: calc(100% - 1px);
      width: 340px;
      padding: 25px 20px;
      background-color: var(--Dark);
      transition: all 0.3s;
      // скрываем
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      a,
      li {
        display: block;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: #b7b7ba;
        transition: color 0.3s;
        &:hover,
        &:active,
        &:focus {
          color: var(--White);
        }
      }
      li {
        &:hover,
        &:active,
        &:focus {
          a {
            color: var(--White);
          }
        }
      }

      a {
        text-decoration: none;
        display: block;
        cursor: pointer;
      }
    }
    &-item {
      margin-bottom: 32px;
    }

    // наведение
    &:hover,
    &:active,
    &:focus {
      background-color: var(--Dark);
      color: var(--White);

      .header__contacts-list {
        visibility: initial;
        opacity: 1;
        pointer-events: initial;

        color: var(--White);
      }
    }
  }
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      flex-shrink: 0;
    }
  }
  &__description {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: var(--Text);
  }

  // меню
  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      flex-grow: 1;
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: 25%;
        background-color: var(--Line);
        pointer-events: none;
        transform: translateY(-50%);
        z-index: 0;
      }
      &:first-of-type {
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 25%;
          background-color: var(--Line);
          pointer-events: none;
          transform: translateY(-50%);
          z-index: 0;
        }
      }
    }
    &-link {
      display: flex;
      max-width: 100%;
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--dark);
      padding: 20px 30px;
      position: relative;
      background-color: transparent;
      transition: all 0.3s;
      z-index: 2;
      justify-content: center;

      &:hover,
      &:active,
      &:focus {
        color: var(--White);
        background-color: var(--Dark);
      }
    }
    &-sublist {
      position: absolute;
      background-color: var(--White);
      padding: 14px 25px;
      width: 280px;
      left: 0;
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
      z-index: -1;
      transition: all 0.3s;
      // скрываем
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &-sublist-link {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 250%;
      color: var(--dark);

      &::before {
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        background-color: var(--Red);
        margin-right: 10px;
        transition: width 0.3s;
      }
      &:hover,
      &:active,
      &:focus {
        &::before {
          width: 20px;
        }
      }
    }
    // стили для пункта меню с подкатегориями
    &-item {
      position: relative;
      z-index: 2;
      &:has(ul) {
        &:hover,
        &:active,
        &:focus {
          box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
          }
          .header__nav-sublist {
            opacity: 1;
            visibility: initial;
            pointer-events: initial;
          }
        }
        .header__nav-link {
          display: flex;
          align-items: center;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            width: 0;
            height: 4px;
            background-color: var(--Red);
            opacity: 0;
            transition: all 0.3s;
          }
          // стрелочка
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 7px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23E61E26' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
            flex-shrink: 0;
            margin-left: 7px;
            transition: all 0.3s;
          }
          // наведение
          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
            color: var(--Dark);
            &::before {
              width: 100%;
              opacity: 1;
            }
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
  .button-menu {
    display: none;
  }

  @media (max-width: 1280px) {
    &__static {
      background-color: var(--White);
    }
    &__static-grid {
      align-items: center;
      grid-template-columns: 70px 1fr;
    }
    &__static-top {
      grid-template-columns: auto auto 1fr;
      justify-content: flex-start;
    }
    &__static-bottom {
      display: none;
    }
    &__static-top::before {
      display: none;
    }
    &__logo {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .button-menu {
      display: flex;
      margin-left: auto;
    }
  }
  @media (max-width: 767px) {
    &__static-grid {
      grid-template-columns: 55px 1fr;
      gap: 10px;
    }
    &__static-top {
      grid-template-columns: 1fr auto auto;
      gap: 10px;
      position: initial;
    }
    &__contacts {
      max-width: max-content;
      position: initial;
      border-radius: 50%;
      background-color: transparent !important;
      &-list {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      &-item {
        margin-bottom: 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &-label {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        cursor: pointer;
        border-radius: 50%;
        background-color: transparent;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          transition: all 0.3s ease-in-out;
          pointer-events: none;
          background-color: transparent;
          border-radius: 50%;
          z-index: 0;
          border: 1px solid var(--Dark);
        }
        span {
          display: none;
        }
        svg {
          flex-shrink: 0;
          position: relative;
        }
        &:active,
        &:focus,
        &:focus {
          color: var(--White);
          &::before {
            left: -4px;
            top: -4px;
            bottom: -4px;
            right: -4px;
            background-color: var(--Dark);
          }
        }
      }
      &-list {
        width: 100%;
      }
    }
    &__mobile-navigation {
      &-sublist {
        padding-inline: 0;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
