.header {
  // статичная шапка
  &__static {
    &-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr 11fr;
    }
    &-top {
      display: grid;
      gap: 32px;
      grid-template-columns: 8fr auto;
      align-items: center;
      position: relative;
      z-index: 5;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background-color: var(--Line);
      }
    }
  }
  // прилипающая шапка
  &__sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s;
    background-color: var(--White);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    // прячем
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    // смещаем для красивого появления
    transform: translateY(-100px);
    &-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: 44px 1fr 180px;
      align-items: center;
    }
    .header__logo {
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .header__contacts-label {
      height: 54px;
  }
  }
  // контакты
  &__contacts {
    position: relative;
    max-width: 180px;
    color: var(--Dark);
    background-color: transparent;
    z-index: 2;
    transition:
      color 0.3s,
      background-color 0.3s;
    &-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 175%;
      display: grid;
      gap: 7px;
      grid-template-columns: 14px auto;
      align-items: center;
      padding: 12px 16px;

      svg {
        display: block;
        width: 14px;
        height: 14px;
      }
    }
    &-list {
      position: absolute;
      right: 0;
      top: calc(100% - 1px);
      width: 340px;
      padding: 25px 20px;
      background-color: var(--Dark);
      transition: all 0.3s;
      // скрываем
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      a,
      li {
        display: block;
        margin-bottom: 32px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: #b7b7ba;
        transition: color 0.3s;
        &:hover,
        &:active,
        &:focus {
          color: var(--White);
        }
      }
      li {
        &:hover,
        &:active,
        &:focus {
          a {
            color: var(--White);
          }
        }
      }

      a {
        text-decoration: none;
        display: block;
        cursor: pointer;
      }
    }

    // наведение
    &:hover,
    &:active,
    &:focus {
      background-color: var(--Dark);
      color: var(--White);

      .header__contacts-list {
        visibility: initial;
        opacity: 1;
        pointer-events: initial;

        color: var(--White);
      }
    }
  }
  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      flex-shrink: 0;
    }
  }
  &__description {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: var(--Text);
  }

  // меню
  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      flex-grow: 1;
      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: 25%;
        background-color: var(--Line);
        pointer-events: none;
        transform: translateY(-50%);
        z-index: 0;
      }
      &:first-of-type {
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 25%;
          background-color: var(--Line);
          pointer-events: none;
          transform: translateY(-50%);
          z-index: 0;
        }
      }

    }
    &-link {
      display: flex;
      max-width: 100%;
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--dark);
      padding: 20px 30px;
      position: relative;
      background-color: transparent;
      transition: all 0.3s;
      z-index: 2;
      justify-content: center;

      &:hover,
      &:active,
      &:focus {
        color: var(--White);
        background-color: var(--Dark);

      }
    }
    &-sublist {
      position: absolute;
      background-color: var(--White);
      padding: 14px 25px;
      width: 280px;
      left: 0;
      box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
      z-index: -1;
      transition: all 0.3s;
      // скрываем
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &-sublist-link {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 250%;
      color: var(--dark);

      &::before {
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        background-color: var(--Red);
        margin-right: 10px;
        transition: width 0.3s;
      }
      &:hover,
      &:active,
      &:focus {
        &::before {
          width: 20px;
        }
      }
    }
    // стили для пункта меню с подкатегориями
    &-item {
      position: relative;
      z-index: 2;
      &:has(ul) {
        &:hover,
        &:active,
        &:focus {
          box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.15);
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
          }
          .header__nav-sublist {
            opacity: 1;
            visibility: initial;
            pointer-events: initial;
          }
        }
        .header__nav-link {
          display: flex;
          align-items: center;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            width: 0;
            height: 4px;
            background-color: var(--Red);
            opacity: 0;
            transition: all 0.3s;
          }
          // стрелочка
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 7px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23E61E26' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
            flex-shrink: 0;
            margin-left: 7px;
            transition: all 0.3s;
          }
          // наведение
          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
            color: var(--Dark);
            &::before {
              width: 100%;
              opacity: 1;
            }
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
}
