html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-size: 16px;
  font-family: var(--first-family);
  position: relative;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.16px;
  min-height: 100%;
  max-width: 100%;
  width: 100%;

  // @media (max-width: 767px) {
  //   font-size: 14px;
  // }
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  color: var(--color-dark);
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

a:not([class]) {
  color: var(--color-red);
  text-decoration-line: underline;

  transition: color 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-orange);
    text-decoration-line: none;
  }
}

input,
textarea {
  font-family: var(--first-family);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  max-width: 100%;
  width: 100%;
  outline: none;
  padding: 14px 24px;
  border-radius: 32px;
  border: 1px solid rgba(54, 54, 60, 0.2);
  background: var(--color-white);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15) inset;
  position: relative;
  height: 56px;

  &::placeholder {
    font-family: var(--first-family);
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    color: var(--color-dark-mod-08);
  }
  @media (max-width: 767px) {
    height: 45px;
  }
}

textarea {
  resize: none;
}



/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}
