.button-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--Dark);
  width: 64px;
  height: 64px;
  padding: 0;
  max-width: initial;
  max-height: initial;
  min-height: initial;
  background-color: transparent;
  flex-shrink: 0;
  outline: 0;
  border-radius: 50%;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: transparent;
    border-radius: 50%;
    z-index: 0;
    border: 1px solid var(--Dark);
  }
  & span,
  & span::after,
  & span::before {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--Dark);
    z-index: 2;
    transition: all 0.3s;
  }
  & span::after,
  & span::before {
    content: "";
    display: block;
  }
  & span::before {
    transform: translateY(-6px);
  }
  & span::after {
    transform: translateY(6px);
  }
  &.isActive span {
    height: 0;
  }
  &.isActive span:before {
    transform: rotate(-45deg);
  }
  &.isActive span:after {
    transform: rotate(45deg);
  }

  &:hover,
  &:active,
  &:focus {
    span,
    span::after,
    span::before {
      width: 24px;
      background-color: var(--White);
    }
    &::before {
      // background-color: var(--color-red, #ff5843);
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
      background-color: var(--Dark);
    }
  }

  @media (max-width: 767px) {
    width: 55px;
    height: 55px;
  }
}
